@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #009900;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #357abd; /* Darker blue color on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover */
}

.dark-theme {
  @apply bg-black text-white;
}

.primary-btn {
  @apply relative inline-flex items-center bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300 text-white rounded-lg py-3 px-6 transition-all duration-200 min-w-fit;
}

.secondary-btn {
  @apply py-3 px-5 bg-transparent hover:bg-[#07090a] hover:text-white transition-all ease-out duration-300 hover:translate-y-1 rounded-md
}

.text-primary {
  @apply text-white;
}

.hover-link {
  @apply hover:text-blue-600;
}

.fade-out {
  @apply translate-y-0 transition-all duration-300 ease-in-out opacity-100;
}

.hidden-bar {
  @apply opacity-0 -translate-y-full transition-all duration-300 ease-in-out;
}

.fade-in {
  @apply opacity-0 translate-y-8 transition-opacity-transform duration-1000 ease-out;
}

.fade-in-visible {
  @apply opacity-100 translate-y-0;
}